

.meeting-container{
  margin: 0;
  padding: 0;
min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  
  
}

.main-section{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex: 1; 
}

footer{
  margin-top: auto;
}